/*CSS*/

@import url("https://fonts.googleapis.com/css?family=Lato");

body{
    padding: 0;
    margin: 0;
    /* background-color: #F9fafa; */
    background-image: url("../imagens/austa-extranet.gif");
}

.container{
    width: 100w;
    height: 100vh;
    background-color: #F9fafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    border:1px solid black;
    border-radius: 3px;
}

.form-box{
    width: 300px;
    background: #fff;
    font-family: Lato;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    border-top: 20px solid skyblue;
    border-radius: 3px;
}

.form-box .form-input{
    border: none;
    background: #eee;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
}

.form-box .form-btn{
    border: none;
    background: skyblue;
    width: 100%;
    height: 50px;
    font-size: large;
    color: #fff;
    margin-bottom: 10px;
}

@media screen and(max-width: 340px){
    .form-box{
        width: 100vw;
        height: 100vh;
    }
}



