* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.row::after {
content: "";
clear: both;
display: table;
}

[class*="col-"] {
float: left;
padding: 15px;
}  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}  

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 75px 1fr 30px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
}

hr {
  /* margin-top: 0px; */
  margin: 0px; 
  padding: 1px;
}

.border-round{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 204, 204);
    border-radius: 5px;
    background-color: #c7d9ec;
}
.border{
    border-style: groove;
    border-width: 1px;
    margin: 9px;
    padding: 16px;
    /* border-color: rgb(206, 204, 204); */
    border-radius: 5px;
    /* background-color: #c7d9ec; */

}

.font_size_small{
  font-size: 13px;
}

.custom-control-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
}

.inline{
  display:inline-block;
}

.sticky {
    padding: 5px;
    position: sticky;
    top: 0;
  }

  .d-none{
    display: none;
  }
  .d-block{
    display: block;
  }
.message{
  float: left;
  padding: 10px;
  background-color:#ffcce0 ;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.message a{
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
}
.message:hover {
  background-color: #ffe6e6;
}


.anexo{
  float: left;
  padding: 5px;
  margin: 0px;
  background-color:#82b0f5 ;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.anexo a{
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
}
.anexo:hover {
  background-color: #6b9fed;
}


.icon{
  width: 20px;

}
.icon_m{
  width: 25px;

}
/* .icon:hover {background-color: white;} */

.right{
  /* position: absolute; */
  right: 100px;
}

p.btn{
  background-color: #2456A7;
  color: white;
  padding: 5px;
  border-radius: 15%;
}

.abtn{
  /* background-color: #2456A7; */
  /* color: white; */
  padding: 5px;
  border-radius: 15%;
}

.font_white{
  color: white;
  text-decoration: none;
}

.cabecalho {
    grid-area: cabecalho;
    /* background-color: #8ba0b8; */
    background-image: url('../img/logo_austa_hospital.gif');
    background-size: 18%;
    background-repeat: no-repeat;
    color: #2456A7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.75);
}

.principal {
    grid-area: principal;
    height: 100%;
    height: calc(100vh - 120px);
    padding: 11px;
    float: right;
}

.conteudo {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    float: right;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

/* =====Menu=================== */
.vertical-menu {
    height: 100%;
    float: left;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    font-size: 15px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: skyblue;
    color: white;
    cursor: default;
  }
  /* =========================== */

.rodape {
    grid-area: rodape;
    background-color:skyblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    padding-right: 20px;
    color: #444;
}
p.divisao {
    margin-bottom: 0px;
    font-weight: bold;
}



/*=============== Tabelas=========== */
#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #2456A7;
    color: white;
    position: sticky;
    top: 0;
    font-size: small;
  }
  #table td {
    font-size: small;
  }
  /* ====================================================== */
  /* ==================Inputs======================= */
  input[type=submit] {
    /* width: 100%; */
    background-color:skyblue;
    color: white;
    padding: 3px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2456A7;
  }

  /* ================forms================== */
  .form-style-3{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style-3 label{
    display:block;
    margin-bottom: 0px;
  }
  .form-style-3 label > span{
    color: black;
    font-weight: bold;
    font-size: 13px;
  }
  .form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 5px 0px;
    border: 1px solid #87CEEB;
    padding: 2px;
    background: #cfdae6;
    box-shadow: inset 0px 0px 15px #bcd3eb;
    -moz-box-shadow: inset 0px 0px 15px #bcd3eb;
    -webkit-box-shadow: inset 0px 0px 15px #bcd3eb;
  }
  .form-style-3 fieldset legend{
    color: black;
    border-top: 1px solid skyblue;
    border-left: 1px solid skyblue;
    border-right: 1px solid skyblue;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background:#e6e6ff;
    padding: 0px 4px 3px 4px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
  }
  .form-style-3 textarea{
    width:250px;
    height:60px;
    text-align: left;
  }


  .form-style-3 input[type=text],
  .form-style-3 input[type=date],
  .form-style-3 input[type=datetime],
  .form-style-3 input[type=number],
  .form-style-3 input[type=search],
  .form-style-3 input[type=time],
  .form-style-3 input[type=url],
  .form-style-3 input[type=email],
  .form-style-3 select, 
  .form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid skyblue;
    outline: none;
    color: black;
    /* padding: 5px 5px 5px 5px; */
    padding: 5px;
    box-shadow: inset 1px 1px 4px white;
    -moz-box-shadow: inset 1px 1px 4px white;
    -webkit-box-shadow: inset 1px 1px 4px white;
    background: white;
    width:100%;
  }
  .form-style-3 input[type=radio]
  {  
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid skyblue;
    outline: none;
    color: black;
    padding: 5px 5px 5px 5px;
    display: inline; 
  }

  .form-style-3 input[type=file]{
    border-radius: 3px;
    border: 1px solid skyblue;
    outline: none;
    color: black;
    padding: 5px;
    background: white;
    width:100%;
  }

  .form-style-3  input[type=submit],
  .form-style-3  input[type=button]{
    background:#2456A7;
    border: 1px solid skyblue;
    padding: 5px 15px 5px 15px;
    color: white;
    box-shadow: inset -1px -1px 3px white;
    -moz-box-shadow: inset -1px -1px 3px white;
    -webkit-box-shadow: inset -1px -1px 3px white;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
    font-weight: bold;
  }
  .form-style-3  button{
    background:#2456A7;
    border: 1px solid skyblue;
    padding: 5px 15px 5px 15px;
    color: white;
    box-shadow: inset -1px -1px 3px white;
    -moz-box-shadow: inset -1px -1px 3px white;
    -webkit-box-shadow: inset -1px -1px 3px white;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
    font-weight: bold;
  }
  .required{
    color:red;
    font-weight:normal;
  }

  .green{
    color:#008000;
    font-weight:normal;
  }

  .blockedField{
    /* overflow-y: scroll; */
    background-color: white;
    padding: 3px;
    border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border: 1px solid skyblue;
      outline: none;
      color: black;
      /* padding: 5px 8px 5px 8px; */
      box-shadow: inset 1px 1px 4px white;
      -moz-box-shadow: inset 1px 1px 4px white;
      -webkit-box-shadow: inset 1px 1px 4px white;
  }
  .blockedField_div{
    height:80px;
    width: 100%;
    overflow-y: scroll;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border: 1px solid skyblue;
      outline: none;
      color: black;
      padding: 5px 8px 5px 8px;
      box-shadow: inset 1px 1px 4px white;
      -moz-box-shadow: inset 1px 1px 4px white;
      -webkit-box-shadow: inset 1px 1px 4px white;
  }

  /* ================forms================== */

  /* ==============tooltip============== */
  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }   
  /* ==============tooltip============== */
